<div class="page">
  <div class="wrapper table-container">
    <div class="table-container__header">
      <h2>Products</h2>
    </div>
    <div class="table-container__content">
      <table class="products-table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!products.length">
            <td colspan="6">
              <p class="no-product-msg">Nenhum produto cadastrado.</p>
            </td>
          </tr>
          <tr *ngFor="let product of products">
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency:'BRL' }}</td>
            <td>
              <button class="default-button edit-product-button" (click)="edit(product.uuid)">Atualizar</button>
            </td>
            <td>
              <button class="default-button delete-product-button" (click)="delete(product)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-container__footer">
      <button class="default-button add-product-button" (click)="add()">Adicionar Produto</button>
    </div>
  </div>

</div>
