
<table>
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="edit(product.uuid)">Atualizar</button>
      </td>
      <td>
        <button (click)="delete(product)">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
  </tfoot>
</table>

<button (click)="add()">
  Adicionar Produto
</button>
